* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
/* 
font-family: 'Bebas Neue',
sans-serif;
font-family: 'Kanit',
sans-serif;
font-family: 'Pacifico',
cursive;
font-family: 'Poppins',
sans-serif;
font-family: 'Roboto Mono',
monospace; */